footer {
	background: #008acc;
	height: 200px;
	display: block;
}
.footer-top {
	margin-top: 40px;
}
.footer-top div h3 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 0.5em;
}
.footer-top div p {
    font-size: .96em;
    color: #eee;
    line-height: 1.8em;
}
.footer-top div ul li {
	list-style: none;
}
.footer-top div ul li a {
    font-size: .96em;
    color: #eee;
    line-height: 1.8em;	
    text-decoration: none;
}
.footer-top div ul li a:hover{
	color: #F39911
}
ul.social-icon li a {
	background: red;
	height: auto;
	display: block;
}
ul.social-icon li a i {
    margin: 0 0.2em;
    transition: 0.5s all;
    border-radius: 16px;
    color: #fff;
	font-size: 20px;
}
ul.social-icon li a i:hover {
    color: #F39911;
    border-radius: 0px;
    transform: rotate(25deg);
}



/*css style.css*/
h3,h4,h5,h2,h1 {
    font-family: 'Bangers', cursive;
}
.header-top {
    background: #008acc;
    height: 30px;
}
.header-top ul li a {
    color: #fff;
    line-height: 30px;
    font-size: 0.8333em;
}
.header-top ul li a:hover {
    color: #F39911;
    font-size: 0.8433em;
    text-decoration: none;
}
.navbar-header .logo-img {
    padding: 0;margin: 0;
}
.navbar-header .logo-img img { 

    display: block;
    height: 50px;
    margin: 0;
    padding: 0;
 }
 h3 , h1{
    margin: 0;padding: 0;
 }
 .title-collapse h3 span {

 }
 .title-collapse h3 button {
    float: right;
    margin-top: -3px;
 }
button.btn-default a {
    color: #fff;
}
button.btn-default {
    background: #008acc;
    color: #fff;
}
button.btn-default:hover {
    background: #e23e57;
    color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #F39911;
    transition-delay: 0.3s;
    
/*css gi·ªè hang*/

.box_hang_hoa a img {

/*    transform: scale(1.2);*/
}
.box_hang_hoa a img:hover {
        transform: scale(1.2);
        transition: all 0.5s;
}
 .box_hang_hoa a:hover {
        text-decoration: none;
    }


/*css box product*/
       @import url(https://fonts.googleapis.com/css?family=Lato:400,700,300italic);

body {
  background-color: #f0f0f0;
  font-family: Lato, sans-serif;
}

h1.page-title {
  margin-top: 70px;
  margin-bottom: 70px;
  color: #485a64;
  font-weight: bold;
}

.product-container {
  background-color: #fff;
  height: 390px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.tag-sale {
  background-color: #4fdaa4;
  width: 86px;
  height: 98px;
  position: absolute;
  color: #fff;
  right: -41px;
  z-index: 9;
  top: -44px;
  transform: rotate(137deg);
}

.tag-sale::before {
  content: "SALE";
  color: #fff;
  font-weight: bold;
  display: block;
  transform-origin: top center;
  transform: rotate(222.5deg) translateX(-28px) translateY(-37px);
}

.product-description {
  background-color: #F7F7F7;
  border-top: 1px solid #EFEFEF;
  padding: 10px 20px;
  color: #797979;
}

.product-image {
  padding: 20px;
  height: 323px;
  position: relative;
  overflow: hidden;
  transition: 1s;
}

.product-link {
    position: absolute;
    background: #fff;
    width: 100px;
    height: 100px;
    color: #4FDAA4;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    padding: 22px 16px;
    line-height: 50px;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    opacity: 0;
    transition: 1s;
    font-style: italic;
}

.product-link:hover {
  text-decoration: none;
  color: #4FDAA4;
}


.hover-link {
  background-color: #4FDAA4;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.product-image img {
  width: 100%;
}

.product-description h1 {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 0;
  display: inline-block;
  width: 78%;
}

.product-description p {
  color: #C4C4C4;
}

.product-description .price {
  display: inline-block;
  width: 20%;
  font-size: 17px;
  text-align: right;
  font-weight: bold;
  color: #2DD493;
  margin-bottom: 5px;
}

.product-option {
  border-top: 1px solid #D2D2D2;
}

.product-option h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 3px;
}

.product-option .product-color ul {
  list-style-type: none;
  padding: 0;
}

.product-option .product-color li {
  display: inline-block;
  width: 15px;
  height: 15px;
}

.product-color li.red {
  background-color: #F75375;
}
.product-color li.blue {
  background-color: #53A0F7;
}
.product-color li.green {
  background-color: #59CFAF;
}
.product-color li.gray {
  background-color: #C7C7C7;
}
.product-color li.black {
  background-color: #4E5156;
}
.product-color li.dark-blue {
  background-color: #2060AF;
}

.product-container:hover {
  box-shadow: 0px 10px 25px -2px rgba(0,0,0,0.36);
}

.product-container:hover .product-image {
  height: 180px;
  transition: 1s;
}
.product-container:hover .product-option {
  display: block;
}
.product-container:hover .hover-link {
  opacity: 0.5;
}
.product-container:hover .product-link {
  opacity: 1;
}

.product-link:hover {
  -webkit-animation: hovering 1000ms linear both;
  animation: hovering 1000ms linear both;
}

@-webkit-keyframes hovering {
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.3% { -webkit-transform: matrix3d(1.102, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.102, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.6% { -webkit-transform: matrix3d(1.136, 0, 0, 0, 0, 1.136, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.136, 0, 0, 0, 0, 1.136, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.41% { -webkit-transform: matrix3d(1.099, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.099, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% { -webkit-transform: matrix3d(1.023, 0, 0, 0, 0, 1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.023, 0, 0, 0, 0, 1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.01% { -webkit-transform: matrix3d(0.962, 0, 0, 0, 0, 0.962, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.962, 0, 0, 0, 0, 0.962, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15.72% { -webkit-transform: matrix3d(0.942, 0, 0, 0, 0, 0.942, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.942, 0, 0, 0, 0, 0.942, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.52% { -webkit-transform: matrix3d(0.958, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.958, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% { -webkit-transform: matrix3d(0.99, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.12% { -webkit-transform: matrix3d(1.016, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.016, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  26.83% { -webkit-transform: matrix3d(1.025, 0, 0, 0, 0, 1.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.025, 0, 0, 0, 0, 1.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  32.43% { -webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.004, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  38.04% { -webkit-transform: matrix3d(0.989, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.989, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  49.15% { -webkit-transform: matrix3d(1.005, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.005, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60.26% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  71.37% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  82.48% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.59% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes hovering {
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.3% { -webkit-transform: matrix3d(1.102, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.102, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.6% { -webkit-transform: matrix3d(1.136, 0, 0, 0, 0, 1.136, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.136, 0, 0, 0, 0, 1.136, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.41% { -webkit-transform: matrix3d(1.099, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.099, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% { -webkit-transform: matrix3d(1.023, 0, 0, 0, 0, 1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.023, 0, 0, 0, 0, 1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.01% { -webkit-transform: matrix3d(0.962, 0, 0, 0, 0, 0.962, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.962, 0, 0, 0, 0, 0.962, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15.72% { -webkit-transform: matrix3d(0.942, 0, 0, 0, 0, 0.942, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.942, 0, 0, 0, 0, 0.942, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.52% { -webkit-transform: matrix3d(0.958, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.958, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% { -webkit-transform: matrix3d(0.99, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.12% { -webkit-transform: matrix3d(1.016, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.016, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  26.83% { -webkit-transform: matrix3d(1.025, 0, 0, 0, 0, 1.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.025, 0, 0, 0, 0, 1.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  32.43% { -webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.004, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  38.04% { -webkit-transform: matrix3d(0.989, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.989, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  49.15% { -webkit-transform: matrix3d(1.005, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.005, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60.26% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  71.37% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  82.48% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.59% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}